<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Simple License Viewer</title>
</head>

<body>
    <main id="licenses" v-scope @vue:mounted="getLicenses()">
        <section id="user-input">
            <label> Select license:
                <select @change="loadLicense()" v-model="license.name">
                    <option value=""></option>
                    <option v-for="license in licenses" v-bind:key="license.key">{{license.name}}</option>
                </select>
            </label>
            <span v-if="license.name">
                <button @click="download()">Download</button>
                <button @click="copyToClipboard()">Copy to clipboard</button>
            </span>
        </section>
        <section v-if="license.name" id="license-data">
            <h1 v-effect="$el.textContent = license.name"></h1>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Permissions</th>
                            <th>Conditions</th>
                            <th>Limitations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li v-for="permission of license.permissions" class="permission">{{permission}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li v-for="limitation of license.limitations" class="limitation">{{limitation}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li v-for="condition of license.conditions" class="condition">{{condition}}</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="license-content">
                <pre>
                    {{license.body}}
                </pre>
            </div>
        </section>
    </main>

    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module'

        createApp({
            licenses: [],
            license: {},

            getLicenses: function () {
                fetch(`https://api.github.com/licenses`)
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        this.licenses.push(...data);
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },

            loadLicense: function () {
                if (this.license.name) {
                    const index = this.licenses.findIndex(item => item.name === this.license.name);
                    fetch(`https://api.github.com/licenses/${this.licenses[index].key}`)
                        .then(response => {
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                            for (let prop in data) {
                                this.license[prop] = data[prop];
                            }
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }
            },

            copyToClipboard: function () {
                navigator.clipboard.writeText(this.license.body);
                alert('License copied to clipboard!');
            },

            download: function () {
                const licenseURL = URL.createObjectURL(new Blob([this.license.body], { type: 'text/plain' }));
                const element = document.createElement('a');
                element.href = licenseURL
                element.download = 'LICENSE';
                element.click();
            }
        }).mount()


    </script>



</body>

</html>